<div class="menu-container">

    <div class="right-center">
        <app-button [buttonText]="'Add New Post'" [routerLink]="'/posts/add'"></app-button>
    </div>


    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> User ID </th>
                    <th> Category ID</th>
                    <th> Title </th>
                    <th> View Count</th>
                    <th> Creation Date</th>
                    <th> Is Published </th>
                    <th> Details </th>
                    <th> Action </th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let post of posts" class="row">
                    <td> {{ post.post_id }} </td>
                    <td> {{ post.user_id }} </td>
                    <td> {{ post.category_id }} </td>
                    <td> {{ post.title }} </td>
                    <td> {{ post.view_count }} </td>
                    <td> {{ post.creation_date}} </td>
                    <td> {{ post.is_published }} </td>
                    <td>
                        <app-button class="small" [routerLink]="'/posts/details'" [buttonText]="'Details'" (onButtonClick)="postService.selectedPost(post.post_id)"></app-button>
                    </td>
                    <td>
                        <app-button  class="small" [routerLink]="'/posts/edit'" [buttonText]="'Edit'" (onButtonClick)="postService.selectedPost(post.post_id)"></app-button>
                        <app-button  class="small"  [buttonText]="'Delete'" (onButtonClick)="postService.deletePost(post.post_id)"></app-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>