.container {
    max-width: 800px;
    margin: 0 auto;
    font-size: large;
    background-color: #e7deff;
    padding: 30px;
    margin-top: 5%;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgb(60, 8, 250);
    text-align: center;
}
