<div class="container">
    <h1>Welcome to our Blog Platform</h1>
    <p>
        A space where diverse ideas and discussions thrive. Explore our collection of thought-provoking posts and engage
        in conversations that span various topics.
    </p>
    

</div>
<p></p>

<div class="container">
<h2>Community Rules</h2>
    <p>
        To ensure a positive and respectful environment for all users, we kindly request that you adhere to our platform rules. We encourage open-mindedness, constructive discussions, and respectful interactions among community members. Personal attacks, hate speech, or any form of harassment will not be tolerated. 
    </p>
    <p>    
        Let's create a welcoming and inclusive space where diverse opinions can be shared and valued.
    </p>
</div>