<div class="menu-container">
    
    <div class="right-center">
        <app-button [buttonText]="'Add New User'" [routerLink]="'/users/add'"></app-button>
    </div>


    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> User Name </th>
                    <th> Email </th>
                    <th> Creation Date </th>
                    <th> Is Active </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let user of users" class="row">
                    <td> {{ user.user_id }} </td>
                    <td> {{ user.username }} </td>
                    <td> {{ user.email}} </td>
                    <td> {{ user.creation_date}} </td>
                    <td> {{ user.is_active }} </td>
                    <td>
                        <app-button class="action-btn" [buttonText]="'Edit'" [routerLink]="'/users/edit'" (onButtonClick)="userService.selectedUser(user.username)"></app-button>
                        <app-button class="action-btn" [buttonText]="'Delete'" (onButtonClick)="userService.deleteUser(user.user_id)"></app-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>