<p>user works!</p>

<div style="overflow-x:auto;">
    <table>
        <thead>
            <tr>
                <th> ID </th>
                <th> User Name </th>
                <th> Email </th>
                <th> Creation Date </th>
                <th> Is Active </th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            <tr *ngFor="let user of users" class="row">
                <td> {{ user.user_id }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.email}} </td>
                <td> {{ user.creation_date}} </td>
                <td> {{ user.is_active }} </td>
                <td> User Details </td>
            </tr>
        </tbody>
    </table>
</div>