button {
  align-items: center;
  background-color: rgb(175, 153, 255);
  box-sizing: border-box;
  color: #000;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: Inter, sans-serif;
  font-size: 16px;
  font-weight: 600;
  height: 48px;
  justify-content: center;
  letter-spacing: -.8px;
  line-height: 24px;
  min-width: 140px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  text-decoration: none;
  transition: all .3s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

button:focus {
  color: #171e29;
}

button:hover {
  color: #ffffff !important;
  fill: rgb(60, 8, 250);
}

button:active {
  background-color: rgb(96, 53, 252);
  color: rgb(255, 255, 255);

}

@media (min-width: 768px) {
  button {
    min-width: 170px;
  }
}

div {
  display: inline-block;
}

.pagination-btn {
  margin-top: 15px;
  text-align: right;
}

.pagination-btn button {
  margin: 0 5px;
}

.pagination-btn button:last-child {
  margin-right: 0;
}

.action-btn {
  text-align: right;
  margin-top: 50px;

  align-items: center;
  background-color: #e7deff;
  border: 2px solid #e7deff;
  box-sizing: border-box;
  color: #000000;
  cursor: pointer;
  display: inline-flex;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  letter-spacing: -.8px;
  outline: 0;
  padding: 0 17px;
  text-align: center;
  transition: all .3s;

}

.action-btn:focus {
  color: #171e29;
}

.action-btn:hover {
  background-color: rgb(175, 153, 255);
  border-color: rgb(175, 153, 255);
  fill: rgb(175, 153, 255);
}

.action-btn:active {
  background-color: rgb(60, 8, 250);
  border-color: rgb(175, 153, 255);
  fill: rgb(175, 153, 255);
  color: beige;
}