<div class="menu-container">

    <div class="right-center">
        <app-button [buttonText]="'Add New Category'" [routerLink]="'/categories/add'"></app-button>
    </div>

    <div style="overflow-x:auto;">
        <table>
            <thead>
                <tr>
                    <th> ID </th>
                    <th> Category Name </th>
                    <th> Creation Date </th>
                    <th></th>
                </tr>
            </thead>

            <tbody>
                <tr *ngFor="let cat of categories" class="row">
                    <td> {{ cat.category_id }} </td>
                    <td> {{ cat.name }} </td>
                    <td> {{ cat.creation_date}} </td>
                    
                    <td>
                        <app-button class="small" [buttonText]="'Edit'" (onButtonClick)="categoryService.selectCategory(cat.category_id)" routerLink="/categories/edit"></app-button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>