<div class="'with-top-margin'">


    <div class="container">
        <h2> Add New User </h2>

        <label>User Name: </label>
        <div>
            <input type="username" >
        </div>

        <label>Email: </label>
        <div>
            <input type="email">
        </div>

        <label>Creation Date: </label>
        <div>

            <input type="creation_Date">
        </div>

        <label>Is Active: </label>
        <div>
            <input type="is_active">
        </div>

        <div class="with-top-margin"> 
            <app-button [buttonText]="'Add User'"> </app-button>
        </div>
    </div>

    

</div>